<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submittd Info</title>
</head>
<body>
    <div>
        <h1>Submitted info</h1>
        <p>Name: {{ name }}</p>
        <p> Dojo Location : {{ location }}</p>
        <p> Favourite Language: {{ lang }}</p>
        <p>Comment : {{ comment }}</p>
    </div>
    <form action="/home">
        <button name="Go Back" type="submit"> Go Back</button>
    </form>
</body>
</html>